body{background-image:url(https://i.imgur.com/ooyJHfC.png),linear-gradient(to left,#201a24 50%,#c93d66)!important;}

.post-title {
    font-size: 20px;
    text-decoration: none;
}
.avatar-select-list {height: 234px;
width: 120px;
margin-left:10px;}

:focus {outline: none !important;}
div#app {padding: 0px;}
.emj-dropdown-content {width:50%!important;}
a,div,td{color:#ff9bb8!important;}
p {margin-top: 0;
margin-bottom: 0;}
.post-title-date {
    font-size: 0.7rem;
    color: gray;
 padding-left: 0px; }

nav.navbar{
border:1px solid #ff9bb8;
border-radius:10px;
background:url(https://i.imgur.com/ooyJHfC.png);
background-color:#c93d6620;}

.content{width:60%;
margin-top:-10px;
margin-left:5%;}

.post-avatar {
    display: table;
    width: 1px;
    float: left;
    margin-right: 5px;
margin-left: 5px;
}

.post-content {min-height:162px;}

::-webkit-scrollbar{

width: 5px;
position: fixed;
right: 10px;}

.left-menu-text p{padding:0px;}

::-webkit-scrollbar-track {
box-shadow: none;
border-radius: 10px;
background-color: #201a24}

::-webkit-scrollbar-thumb {border-radius: 10px;
background: #c93d6650 !important;
}

.comment-content,.post-content, .textareabg {margin-top:10px;
box-shadow:2px 0px 4px 0px #c93d66;
border:1px solid #ff9bb8;
border-radius:10px;
background:url(https://i.imgur.com/ooyJHfC.png);
background-color:#c93d6620;}

 .textareabg{text-align:center;
padding:5px;
margin-right: 10px;}

.datebg {box-shadow:2px 0px 4px 0px #eb668d;
border:1px solid #ff9bb8;
margin-left:30%;
border-radius:10px;
width:40%;
font-size:13px;
text-align:center;
font-weight: normal;
background:url(https://i.imgur.com/ooyJHfC.png);
text-transform: lowercase !important;}

h1,h2{font-size:13px;
text-align:center;
font-weight: normal;}

.left-menu__friends_offline,.blog__about,.blog__gifts,.blog__read-me,.blog__last-comments,.blog__iread,.left-menu__user-notification{box-shadow: 1px 1px 4px 1px #c93d66!important;
margin-bottom:50px;
width:340px;
border:1px solid #ff9bb8!important;
border-radius:10px!important;
background:url(https://i.imgur.com/ooyJHfC.png);
background-color:#201a2430;}

span[data-target="#deleteconfirmmodal"]{color:#ff9bb8!important;}

.left-menu{min-width:350px;
margin-left:5%;
border:none!important;}

h3.left-menu-text {font-size:15px;
text-align:center;
color:#ff9bb8!important;
border-bottom:1px solid #ff9bb8;
background:transparent!important;
}

.modal-content{ box-shadow:2px 0px 4px 0px #eb668d;
border:1px solid #ff9bb8;
border-radius:10px;
background:url(https://i.imgur.com/ooyJHfC.png);
background-color:#201a24;}
.modal-header{background-color:#c93d6620;
border-bottom:1px solid #ff9bb8;}
.modal-footer {background-color:#c93d6620;
border-top:1px solid #ff9bb8;}
.btn-primary,.btn-secondary{border:1px solid #ff9bb8!important;
border-radius:10px!important;
background:url(https://i.imgur.com/ooyJHfC.png);
background-color:#c93d6620;}

input{border:1px solid #ff9bb8!important;
border-radius:10px!important;
margin: 2px 2px 2px;
color:#ff9bb8!important;
background:url(https://i.imgur.com/ooyJHfC.png);
background-color:#201a2450;}
form.messageform select{border:1px solid #ff9bb8!important;
border-radius:10px!important;
margin: 2px 2px 2px;
color:#ff9bb8!important;
background:url(https://i.imgur.com/ooyJHfC.png);
background-color:#201a24;}

textarea,.avatar-select-list {border:1px solid #ff9bb8;
border-radius:10px;
background:url(https://i.imgur.com/ooyJHfC.png);
background-color:#201a2450;
color:#ff9bb8;}

.avatar-select-label{margin-top:5px;
margin-bottom:5px;
    border:none;}
.avatar-select-label-selected {
    border: 3px solid #c93d6650;
}
nav.navbar a:hover{
text-decoration: unset;
}
.navbar-brand:hover {
text-decoration: unset;
}
.left-menu a:hover {
text-decoration: unset;
}
.post-content a:hover {
text-decoration: unset;
}
.comment-content a:hover {
text-decoration: unset;
}
span[data-target="#deleteconfirmmodal"]:hover {
text-decoration: unset;
}
.crumbs a:hover {
text-decoration: unset;
}

.menu__box{border-left:1px solid #ff9bb8!important;
background-image:url(https://i.imgur.com/ooyJHfC.png),#201a24!important;}

@media (max-width: 1024px) {.py-4,.left-menu,.content,.comment-content,.post-content,.textareabg,.datebg  {
width: 100%;
margin: 0 0!important;
}
.left-menu{position:relative !important;
    }
