a,div,td,.pagination-goto,span[data-target="#deleteconfirmmodal"]{text-decoration: none!important;
color:#f4d59c!important;
 transition: .5s;}
.post-avatar {display: table;
width: 1px;
margin-top: 5px;
float: left;
margin-right: 5px;
margin-left: 5px;}
.emj-dropdown-content {width:50%!important;}
.blog_total_counter{display:none;}
.avatar-select-list {height: 234px;}
h2,h1 {text-align:center;
font-size: 80%;}
.post-title-date {font-size: 0.7rem;
color:#bddee7!important;
padding-left: 0px;}
:focus {outline: none !important;}
div#app {padding: 0px;}
.post-content {min-height:162px;}
.left-menu-text p{padding:0px;}
p {margin-top: 0;
margin-bottom: 0;}
.textareabg{text-align:center;
background:transparent;}
.comment-content,.post-content,.textareabg{margin: 10px 10px 20px}
[style="float:right;cursor:pointer;text-shadow: 1px 1px 1px white;"] {text-shadow: unset !important;}

body{background: url(https://i.ibb.co/xzRKcmG/image.gif)fixed no-repeat;
background-size:100% auto;}

div#app {
padding-left:10.8%;
padding-right:10.4%;}

a.post-title{text-shadow: 0px 0px 5px #f4d59c!important;
font-weight: bold;}

.post-content:nth-child(2)
{background-color: #152c4a90!important;
background:url(https://i.imgur.com/rUdUmqs.png)no-repeat right;
background-size:auto 100%;}

.post-content:nth-child(2)
.post-title:before{content:'хуйнюшка';
position:absolute;
width:60px;
left:85%;
height:70px;
font-size:0px;
background:url()no-repeat;}
.post-content,.comment-content,.textareabg{box-shadow: 0px 0px 5px #f4d59c;
background-color:#18243490;
border:1px solid #f4d59c;
border-radius:10px;}

[style="float:right;cursor:pointer;text-shadow: 1px 1px 1px white;"] {
font-size:0px;}
[style="float:right;cursor:pointer;text-shadow: 1px 1px 1px white;"]:before {content: 'UP';
font-size:0px;
position: fixed;
left:20px;
width:41px;
height:33px;
bottom:100px;
background:url(https://i.imgur.com/OORLTrA.png)no-repeat;}

[onclick="event.preventDefault();window.scroll({top: document.body.scrollHeight,behavior: 'smooth'})"]{font-size:0px;}
[onclick="event.preventDefault();window.scroll({top: document.body.scrollHeight,behavior: 'smooth'})"]:before {position: fixed;
content: 'DOWN';
left:20px;
width:41px;
height:33px;
top:100px;
font-size:0px;
background:url(https://i.imgur.com/CQ3jhTH.png)no-repeat;}

div.left-menu{border:none;}
h3.left-menu-text {background-color:transparent!important;
text-shadow: 0px 0px 5px #f4d59c!important;
font-weight: bold;}
.navbar-brand{text-shadow: 0px 0px 5px #f4d59c!important;
color:#fff!important;}

.right-menu-text,.readertime{text-shadow: 0px 0px 5px #f4d59c!important;}

nav.navbar{background-color: #131b2690;
    border-bottom: 1px solid #caac7a;}
.shadow-sm {box-shadow: 0px 0px 0px!important;}
ul {list-style-type: circle;}

input,.btn-primary,.btn-secondary{box-shadow: 0px 0px 5px #f4d59c!important;
background-color:#18243490!important;
border:1px solid #f4d59c!important;
border-radius:5px!important;
color:#fff!important;
margin:5px 5px 5px;}

 nav.navbar,.py-4,.crumbs{border-left: 1px solid #caac7a;
border-right: 1px solid #caac7a;}

div.crumbs{margin:auto;
background-color: #152c4a90;
  border-bottom: 1px solid #caac7a;}

::-webkit-scrollbar{

width: 3px;
position: fixed;
right: 10px;}

::-webkit-scrollbar-track {
box-shadow: none;
border-radius: 2px;
background-color: #152c4a}

::-webkit-scrollbar-thumb {
background: #caac7a !important;
}

.avatar-select-label {
    border: 4px solid #152c4a;
}

.avatar-select-label-selected {
    border: 4px solid #caac7a!important;
}

.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {background-color: #caac7a!important;}

.menu__box {
    background-color: #152c4a;
}

div.left-menu{margin-bottom: 0;
background-color:#18243490;
border-right:1px solid #f4d59c;}
.left-menu__friends_offline,.blog__about,.blog__gifts,.blog__read-me,.blog__last-comments,.blog__iread,.left-menu__user-notification,.blog__tags{border-bottom:1px solid #f4d59c;}

.alert-success,.modal-content{background:#152c4a;
border:1px solid #f4d59c;}

.modal-header{
border-bottom:1px solid #f4d59c!important;}
.modal-footer {
border-top:1px solid #f4d59c!important;}

@media (max-width: 700px) {.py-4,.left-menu,.content,.textareabg,.crumbs{
width: 100%;
margin: 0 0!important;
}

.comment-content,.post-content{
width: 100%;}

div#app{padding: 0 0!important;}

[style="float:right;cursor:pointer;text-shadow: 1px 1px 1px white;"]:before {display:none;}

[onclick="event.preventDefault();window.scroll({top: document.body.scrollHeight,behavior: 'smooth'})"]:before{display:none;}

[style="float:right;cursor:pointer;text-shadow: 1px 1px 1px white;"],[onclick="event.preventDefault();window.scroll({top: document.body.scrollHeight,behavior: 'smooth'})"] {
font-size:14px;}

.left-menu{position:relative !important;}
