a,div,td,.pagination-goto,span[data-target="#deleteconfirmmodal"]{text-decoration: none!important;
color:#8c8c8c!important;
text-transform: lowercase!important;}
#footer{display:none;}
.post-avatar {
margin-top: unset;
margin-right: 5px;
margin-left: 5px;}
.emj-dropdown-content {width:50%!important;}
.avatar-select-list {height: 234px;}
:focus {outline: none !important;}
div#app {padding: 0px;}
.left-menu-text p{padding:0px;}
p {margin-top: 0;
margin-bottom: 0;}
.textareabg,.comment-box h2,.comment-box__message-partial{text-align:center;}
[style="float:right;cursor:pointer;text-shadow: 1px 1px 1px white;"] {text-shadow: unset !important;}
.post-content, .comment-content,.textareabg {margin: 10px 10px 20px;}
.post-title-date+span {display:none;}
h2 { font-size: 110%;}
/*------------------------*/

/* фон */
body{background:#e9e9e9;}

/* записи и коменты */
.datebg{
    text-transform: uppercase;
font-size:10px;
    text-align:center;}

.post-text, .comment-text{background:#fff;
border:1px solid #d6d6d7;
padding:8px;
border-radius:8px;
min-height:100px;}

.textareabg,.alert-success {background:#fff;
border:1px solid #d6d6d7;
padding:8px;
border-radius:8px;}

.content{width:55%;
margin-left:auto;
margin-right:auto;}

.row.w-100{position: sticky;
top: 100%;}

.blog_total_counter{font-size:10px;
text-align:center;}

.content h1{    font-size: 110%;
text-align:center;}

/* ава */
.post-avatar {
border:1px solid #d6d6d7;
    padding: 5px;
    background: #fff;}

/* делит */
.blog__last-comments,.blog__iread,.blog__read-me,.left-menu__friends,.left-menu__friends_offline,.left-menu__friends_online,.user:before,.post-title-date+a, .comment-content .post-title-date,.mw-100,.postsiblings,.py-4+.crumbs {display:none;}

/* коменты */
.comment-content .post-title-user {
    margin-left: 6px;}

.comment-text+div{margin-left:15px;}

/* меню */
div.left-menu {margin-left:100px;
position: sticky;
top: 35%;
border:none;}

.left-menu{overflow-x: unset;}

h3.left-menu-text{  background:transparent!important;
color:#8c8c8c!important;
text-align:center;
border-bottom:1px solid #d6d6d7;}

.left-menu>div {
background:#fff;
border:1px solid #d6d6d7;
padding:8px;
border-radius:8px;
margin-bottom: 10px;}

div.blog__about > div:nth-child(3){text-align:center;}

div.blog__about{position:relative;}
div.blog__about:before{
content:'';
display:block;
position:absolute;
width:100%;
height:150px;
background:url(https://i.imgur.com/Jjx4kVf.jpg)center no-repeat,#fff;
top: -164px;
left: 0;
border:1px solid #d6d6d7;
padding:8px;
border-radius:8px;
background-size: 100%;
filter: grayscale(1);}

/* верх */
div.crumbs {
    margin-top: 0px;
    margin-bottom: 0px;
background:#fff;
border-bottom:1px solid #d6d6d7;}

/* кнопы */
[style="float:right;cursor:pointer;text-shadow: 1px 1px 1px white;"]{font-size:0px;}
[style="float:right;cursor:pointer;text-shadow: 1px 1px 1px white;"]:before {
    content: '';
    background: url(https://i.imgur.com/ttgJWfm.png),#fff;
    background-size: 69%;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #d6d6d7;
    padding: 23px;
    position: fixed;
    height: 45px;
    width: 45px;
    right: 3.5%;
    top: 11%;
    border-radius: 100px;
filter: grayscale(1);}

[onclick="event.preventDefault();window.scroll({top: document.body.scrollHeight,behavior: 'smooth'})"]{font-size:0px;}
[onclick="event.preventDefault();window.scroll({top: document.body.scrollHeight,behavior: 'smooth'})"]:before {
    content: '';
    background: url(https://i.imgur.com/vrApVkf.png),#fff;
    background-size: 69%;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #d6d6d7;
    padding: 23px;
    position: fixed;
    height: 45px;
    width: 45px;
    right: 3.5%;
    top: 88%;
    border-radius: 100px;
filter: grayscale(1);}


/* кнопы2 */
input,form.messageform select{background:linear-gradient( #d6d6d7, white );
margin: 2px 2px 2px;
  border: 1px double #d6d6d7!important;
border-radius: 5px;
color:#8c8c8c;}

input:hover{background:linear-gradient( white ,#d6d6d7 );
color:#8c8c8c; }

form.messageform option{background:#d6d6d7;
color:#000 }

.btn-secondary,btn-primary {
    color: #fff!important;
    background-color: #6c757d!important;
    border-color: #6c757d!important;
}

/* скролл */
::-webkit-scrollbar {
    width: 17px;
    height: 17px;
    background-color: #e9e9e9;
}
::-webkit-scrollbar-thumb {
    border: 6px solid #e9e9e9;
    background-color: #8c8c8c;
    min-height: 24px;
    min-width: 24px;
}
::-webkit-scrollbar-track {
    border: 8px solid #e9e9e9;
    background-color: #8c8c8c;
}
/*------------------------*/

@media (max-width: 700px) {.py-4,.content,.textareabg{
width: 100%!important;
margin: 0 0!important;
}

.comment-content,.post-content,.textareabg,div.crumbs,div.left-menu{
margin-left: auto!important;
margin-right: auto!important;
width: 99%!important;}

div.left-menu {margin-left:unset;
position: unset;
margin-top:15px;}

div.blog__about:before{display:none;}

.mw-100{display:unset;}

.blog_total_counter{background:#fff;
border:1px solid #d6d6d7;
padding:8px;
border-radius:8px;}

[style="float:right;cursor:pointer;text-shadow: 1px 1px 1px white;"]:before {display:none;}

[onclick="event.preventDefault();window.scroll({top: document.body.scrollHeight,behavior: 'smooth'})"]:before{display:none;}

[style="float:right;cursor:pointer;text-shadow: 1px 1px 1px white;"],[onclick="event.preventDefault();window.scroll({top: document.body.scrollHeight,behavior: 'smooth'})"] {
font-size:14px;}

.menu__box{background:#fff;
border-left:1px solid #d6d6d7;}

.menu__item {border-bottom:1px solid #d6d6d7;}
.menu__item:hover {background:#d6d6d7;}

.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {background-color: #8c8c8c!important;}
