.post-avatar {
    display: table;
    width: 1px;
    float: left;
    margin-right: 5px;
margin-left: 5px;
}
.emj-dropdown-content {width:50%!important;}
.blog_total_counter{display:none;}
.avatar-select-list {height: 234px;}
h2,h1 {text-align:center;
font-size: 80%;}
.post-title {font-size: 20px;
 text-decoration: none;}
.post-title-date {font-size: 0.7rem;
color: gray;
padding-left: 0px;}
:focus {outline: none !important;}
div#app {padding: 0px;}
.post-content {min-height:162px;}
.left-menu-text p{padding:0px;}
p {margin-top: 0;
margin-bottom: 0;}
span[data-target="#deleteconfirmmodal"]{color:#fff!important;}

.content{display: block;
margin-left:5%;
width:60%;}
body { background: #000;}
a,div,td { color: #fff !important;
text-transform: uppercase !important; 
text-decoration: none!important; }


nav.navbar{background:url(https://images.vfl.ru/ii/1603540937/195b7a94/32042361.png) no-repeat;
background-position: -20px 5px !important; 
background-size:10% !important;
border-radius:5px;
border: 1px solid #fff;}

h3.left-menu-text{background:transparent!important;}

.left-menu{width:350px;
height: 550px;
overflow: auto;
border: 1px solid #fff;
border-radius:5px;
margin-left: 20px !important;
}
.left-menu{background: url(https://images.vfl.ru/ii/1603568785/c24a78a1/32046053.png)no-repeat;
background-position:center;
background-size:contain; }

::-webkit-scrollbar{

width: 3px;
position: fixed;
right: 10px;}

::-webkit-scrollbar-track {
box-shadow: none;
border-radius: 2px;
background-color: #FFF}

::-webkit-scrollbar-thumb {
background: #000 !important;
}

.post-content,.comment-content,.textareabg{ background: #000;
border-radius:5px;
border: 1px solid #fff;}

.pc-menu a{font-size:9px;}

.alert-success {background-color:#000!important;}

@media (max-width: 700px) {.py-4,.left-menu,.content,.textareabg,.crumbs{
width: 100%;
margin: 0 0!important;
}

.comment-content,.post-content{margin-left: 0!important;
width: 100%;
margin-right: 0!important;}

div#app{padding: 0 0!important;}

.py-4 {
display: block;}

.left-menu{position:relative !important;}
